body {
	--SocialApp-color: #ff9494;
	--SocialApp-background: #ffd1d1;
	--SocialApp-border-color: #f0f0f0;
}

.app {
	display: flex;
	height: 100vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
